  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid" style="<%= "justify-content: flex-end;" if !user_signed_in? %>">
      <% if user_signed_in? %>
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag "https://images.assetsdelivery.com/compings_v2/warrengoldswain/warrengoldswain1309/warrengoldswain130900153.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active hover-btn">

            <%= link_to "Home", root_path, class: "nav-link" %>

            </li>

            <li class="nav-item dropdown">

              <%= image_tag "menu.png", class: "menu dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Messages", "#", class: "dropdown-item hover-btn" %>
                <%= link_to "Bookings", "#", class: "dropdown-item hover-btn" %>
                <%= link_to "Add your dog", "/dogs/new", class: "dropdown-item hover-btn" %>
                <%= link_to "Favorites", "#", class: "dropdown-item hover-btn" %>
                <div class="private-area"></div>
                <%= link_to "Your account", "#", class: "dropdown-item hover-btn" %>
                <%= link_to "Help", "#", class: "dropdown-item hover-btn" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item hover-btn", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <%end %>
        </ul>
      </div>
    </div>
  </div>
