<div class="container">

  <h1>I welcome you to <strong><%= @dog.name %></strong></h1>
  <h3> <%= @dog.breed %></h3>
  <p><%= @dog.description %></p>

  <%# ADD DOG PHOTO %>

  <%= link_to "Edit", edit_dog_path %>
  <%= link_to "Back", :back %>

</div>
