<div class="container">
  <h1>Hello <%= current_user.first_name %></h1>
  <p>Here is your past activty</p>

      <ul>
        <% Booking.all.each do |booking| %>
          <% if current_user == booking.user %>
            <div class="card-product">
              <li><h3><%= booking.dog.name %></h3></li>
              <div class="card-box">
                  <img src="https://thumbs.dreamstime.com/b/beautiful-happy-reddish-havanese-puppy-dog-sitting-frontal-looking-camera-isolated-white-background-46868560.jpg" alt="dog_image">
                  <div>
                    <li><i class="fa-solid fa-calendar-days"></i> From: <%= booking.start_date %></li>
                    <li><i class="fa-solid fa-calendar-days"></i> To: <%= booking.end_date %></li>
                    <li><%= link_to "Accept", update_status_booking_path(booking, dog_id: booking.dog.id, status: "Accepted"), method: :patch %></li>
                    <li><%= link_to "Reject", update_status_booking_path(booking, status: "Reject"), method: :patch %></li>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
