<div class="container" data-controller="show-glass-card">
  <%= render "devise/shared/banner" %>

  <div class="lower-nav-bar">
    <h2>Pick your buddy !</h2>

    <div class="search-bar">
    <div class="search-bar-element">
      <%= form_with url: root_path, method: :get do%>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a name or a breed"
        %>
      </div>
      <div class="search-bar-element">
        <%= submit_tag "Search", class: "btn btn-ghost" %>
      </div>
      <div class="search-bar-element">
        <button class="btn btn-ghost", data-controller="show-map", data-action="click->show-map#activate">Map</button>
      </div>
        <% end %>
    </div>
  </div>


<%# DOG CARD %>
    <ul>
      <li class="card-list"><% @dogs.each do |dog| %>
        <p data-action="click->show-glass-card#activate" data-name="<%= dog.name %>", data-description="<%= dog.description %>", data-breed="<%= dog.breed %>", data-dog-image="<%= dog.dog_image %>" ><%= dog.name %></p>
      <% end %>
      </li>
    </ul>


<%# GLASS CARD %>
  <div class="glass-card" id="glass-card" data-show-glass-card-target="card">
    <div class="glass-header">
      <div class="glass-title"><h2 data-show-glass-card-target="title"></h2></div>
      <button class="close-button", data-action="click->show-glass-card#close">&times;</button>
    </div>
    <div class="glass-body">
      <div class="glass-img">
        <img data-show-glass-card-target="dog-picture" src="" alt="">
      </div>
      <div class="glass-text">
        <p data-show-glass-card-target="breed"></p>
        <p data-show-glass-card-target="description"></p>
      </div>
    </div>
  </div>

</div>
